<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="PrefixName" value="奶牛苦工"/>
		<add key="FilterSource" value="奶牛苦工24" />
		<add key="MapSwitchAccount" value="阿绿3,暴走喵星人1,中森明菜,阿绿1,阿绿2,阿绿4,阿绿5,阿绿6,阿绿7,阿绿9,阿绿8"/>
    <add key="BoxRetainNum" value="300"/>
    <add key="BoxMaxNum" value="3000"/>
	</appSettings>
</configuration>