<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="PrefixName" value="奶牛苦工"/>
		<add key="FilterSource" value="奶牛苦工24" />
		<add key="FilterSource1" value="奶牛苦工24" />
		<add key="MapSwitchAccount" value=""/>
		<add key="DungeonLv" value="70"/>
		<add key="DungeonNanfangLv" value="60"/>
		<add key="IsDungeonBack" value="false"/>
		<add key="DungeonRoleIndex" value="2"/>
		<add key="BoxRetainNum" value="100"/>
		<add key="BoxMaxNum" value="3000"/>
		<add key="RepairJob" value="死灵"/>
		<add key="南方账号" value="南方腿骑1,南方腿骑2,南方腿骑3,南方腿骑4,南方腿骑5,南方腿骑6,南方腿骑7,南方工具人1,南方工具人2,南方工具人3,南方工具人4,南方工具人5,南方工具人6,南方工具人7"/>
		<add key="奶牛账号" value="铁矿石,RasdGch,RasdSky,打火石,绿宝石,史蒂夫,南方10086,萤石矿,钻石矿,暴走喵星人1,中森明菜,阿绿1,阿绿2,阿绿3,阿绿4,阿绿5,阿绿6,阿绿7,阿绿8,阿绿9"/>
		<!--是否在效率监控的时候读取人物属性-->
		<add key="isReadRoleInfo" value="true"/>
	</appSettings>
</configuration>